:root {
  --text: #000;
  --gray-text: #595959;
  --background: #fff;
  --accent: #0e407b;
  --ui-gray: #d8d8d8;
  --green: #0d590d;
  --red: #8a1825;
  --monospace: ui-monospace, 'Cascadia Mono', monospace;
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #fff;
    --gray-text: #b5b5b5;
    --ui-gray: #313131;
    --background: #111;
    --red: #ff6f75;
    --green: #46db4e;
  }

  a {
    color: #2c99ff;
  }

  a:visited {
    color: #cb6ef0;
  }

  a:active {
    color: #f00;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--text);
  background-color: var(--background);
  margin: 0;
}

@media (min-width: 1920px) {
  body {
    font-size: 1.2em;
  }
}

header,
main,
footer {
  max-width: 60em;
  margin: 0 auto 4em;
  padding: 0 1em;
}

p {
  margin: 0 0 1em;
  line-height: 1.6;
}

b {
  font-weight: 500;
}

header h1 {
  background-color: var(--accent);
  color: #fff;
  display: inline-block;
  font-size: 2.5em;
  line-height: 1.6;
  margin: 1em 0 0;
  padding: 0 .75em;
}

section {
  margin-top: 4em;
}

#feed-generator {
  border: 4px solid var(--ui-gray);
  display: flex;
  flex-direction: column;
}

@media not (scripting: enabled) {
  #feed-generator {
    display: none;
  }
}

#feed-generator h2 {
  margin: 1rem 1rem 0;
  font-size: 1.4em;
  font-weight: 500;
}

.input-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.input-container label {
  color: var(--gray-text);
  padding-left: .6em;
}

#feed-url-input {
  appearance: none;
  color: inherit;
  font-size: 1.2em;
  background: transparent;
  border: 1px solid var(--ui-gray);
  border-radius: .25em;
  padding: .25em .5em;
}

#feed-url-input:focus {
  border-color: var(--accent);
}

#output-container {
  padding: .25rem 1rem;
  background-color: var(--ui-gray);
  border-top: 4px solid var(--ui-gray);
  display: flex;
  flex-direction: column;
  gap: .5em;
}

#output-container[hidden] {
  display: none;
}

.output-status-container {
  display: flex;
  align-items: baseline;
  font-size: .9em;
  gap: 1.1em;
}

#feed-url-status {
  display: flex;
  gap: 1.1em;
  font-weight: 500;
  margin: 0;
}

#feed-url-copy {
  font-size: 1em;
}

#feed-url-status.valid {
  color: var(--green);
}

#feed-url-status.valid::before {
  content: "✅";
}

#feed-url-status.error {
  color: var(--red);
}

#feed-url-status.error::before {
  content: "❌";
}

#feed-url-output {
  margin: 0;
  font-size: 1.2em;
  font-family: var(--monospace);
  word-break: break-all;
}

#feed-url-output b {
  font-weight: 500;
}

h3 {
  font-weight: 500;
  margin-left: 1.25rem;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  margin-top: 1em;
}

th {
  font-weight: 500;
  border: 1px solid color-mix(in srgb, 80% var(--ui-gray), #000);
  background-color: var(--ui-gray);
  vertical-align: bottom;
  padding: .25em 0;
}

td {
  border: 1px solid var(--ui-gray);
  padding: .5em .25em;
}

.supported-providers td:first-of-type {
  text-align: center;
}

.supported-providers code {
  word-break: break-all;
  font-family: var(--monospace);
  font-size: .9em;
}

footer {
  margin-bottom: 0;
}

footer p {
  color: var(--gray-text);
  font-size: .9em;
}
