{%- match release.cover_art() %}
{% when Some with (url) %}
<p><img src="{{ url }}" alt="cover art of &quot;{{ release.name }}&quot;"/></p>
{% when None %}
{% endmatch -%}
<p><strong>{{ release.name }}</strong> by {{ artist_credit|safe }} has been released.</p>
<p><a href="{{ release.url() }}">Open on {{ release.provider() }}</a></p>
